@import "./variables.scss";

.commentImg {
  @media screen and (max-width: $small-screen) {
    height: 300px;
    margin-top: 5rem;
  }
}

.slider-content {
  padding: 0 1rem;
}

.commemt-info {
  position: relative;
  width: 100%;

  .comment-title {
    position: absolute;
    bottom: 6rem;
    left: 4rem;
    font-size: 4rem;
    font-weight: 800;
    color: white;

    @media screen and (min-width: $large-screen) {
      font-size: 3rem;
    }
    @media screen and (max-width: $small-screen) {
      bottom: 15rem;
    }
    @media screen and (max-width: $xsmall-screen) {
      font-size: 2rem;
    }
  }
  .comment-form {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    @media screen and (max-width: $small-screen) {
      top: -10rem;
      right: 50%;
      width: 100%;
      transform: translate(50%, 50%);
      margin-bottom: 2rem;
    }
  }
}
