@import "./variables.scss";

.form {
  margin: 0 auto;
  padding: 2rem;

  @media screen and (max-width: $small-screen) {
    width: 85%;
  }

  .form-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    min-height: 50px;
  }

  .user-info {
    input {
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 0.8rem 0 0.8rem 0.8rem;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      width: 100%;
      @media screen and (max-width: $small-screen) {
        margin: 0.5rem 0;
      }
    }
  }

  textarea {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    @media screen and (max-width: $small-screen) {
      margin-top: 0.5rem;
    }
  }

  button {
    background-color: #38b72c;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    color: white;
    font-weight: 600;
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    @media screen and (max-width: $small-screen) {
      width: 100%;
      font-size: 2rem;
      padding-bottom: 0.8rem;
      padding-top: 0.8rem;
      margin-top: 1rem;
    }
  }
}
