@import "./variables.scss";
.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  svg {
    font-size: 1.5rem;
    color: #0d29a3;
  }
  .header-top {
    @include flex;
    background-color: white;
    padding: $base-pad;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .contact-info {
      @include flex;
      gap: 0.5rem;
      @media screen and (max-width: $small-screen) {
        display: none;
      }
      a {
        @include flex;
        gap: 0.5rem;
      }
    }

    .lang-links {
      @include flex;
      .lang,
      .social-links {
        @include flex;
        gap: 0.5rem;
        cursor: pointer;
      }
    }
  }

  .header-bottom {
    @include flex;
    background-color: #0d29a3;
    padding: $base-pad;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media screen and (max-width: $small-screen) {
      width: 100%;
    }

    .logo {
      @include flex;
      justify-content: flex-start;

      .logo-img {
        width: 150px;
        cursor: pointer;
      }
      .logo-title {
        color: white;
        font-weight: 600;
      }
    }

    .toggle {
      color: white;
      font-size: 2rem;
      cursor: pointer;
      display: none;
      @media screen and (max-width: $small-screen) {
        display: block;
      }
    }

    .navbar {
      @include flex;
      justify-content: flex-start;
      @media screen and (max-width: $small-screen) {
        display: none;
      }
      .nav-items {
        @include flex;
        gap: 2rem;
        margin-right: 1rem;

        .nav-item {
          a {
            color: white;
            &:hover {
              color: aquamarine;
            }
          }
        }
      }
    }
  }
}
