@import "./variables.scss";
.header {
  width: 100%;
  position: fixed;
  z-index: 99;

  svg {
    font-size: 1.5rem;
    color: #0d29a3;

    @media screen and (max-width: $small-screen) {
      font-size: 3rem;
    }
  }
  .header-top {
    @include flex;
    background-color: white;
    padding: $base-pad;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @media screen and (max-width: $small-screen) {
      padding: $small-pad;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .contact-info {
      @include flex;
      gap: 0.5rem;
      @media screen and (max-width: $small-screen) {
        display: none;
      }
      a {
        @include flex;
        gap: 0.5rem;
      }
    }

    .lang-links {
      @include flex;
      .lang,
      .social-links {
        @include flex;
        gap: 0.5rem;
      }
      @media screen and (max-width: $small-screen) {
        width: 100%;
        flex-direction: row-reverse;
      }

      .lang {
        img {
          cursor: pointer;
          width: 50px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.429);
        }
      }
    }
  }

  .header-bottom {
    @include flex;
    background-color: #0d29a3;
    padding: $base-pad;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
      align-items: flex-start;
      padding: $small-pad;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    .logo {
      @include flex;
      justify-content: flex-start;
      @media screen and (max-width: $small-screen) {
        display: none;
      }
      .logo-img {
        width: 150px;
        cursor: pointer;
      }
      .logo-title {
        color: white;
        font-weight: 600;
      }
    }

    .toggle {
      color: white;
      font-size: 4rem;
      cursor: pointer;
      display: none;
      @media screen and (max-width: $small-screen) {
        display: block;
      }
    }

    .navbar {
      @include flex;
      justify-content: flex-start;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: $small-screen) {
        flex-direction: column;
        height: 0;
        overflow: hidden;
      }
      .nav-items {
        @include flex;
        gap: 2rem;
        margin-right: 1rem;

        @media screen and (max-width: $small-screen) {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 1rem;
        }
        .nav-item {
          a {
            color: white;
            &:hover {
              color: aquamarine;
            }
            @media screen and (max-width: $small-screen) {
              font-size: 2rem;
            }
          }
        }
      }
    }
    .navbar.show {
      height: 180px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
    }
    .cta-btn {
      @media screen and (max-width: $small-screen) {
        display: none;
      }
    }
  }
}
