.banner{
    width: 90%;
    margin: 0 auto;
    position: relative;

    .home-text{
        position: absolute;
        width: 50%;
        bottom: 5rem;
        line-height: 3rem;
        color: white;
        left: 5rem;
        text-align: left;
    }
}

