@import "./variables.scss";

.home {
  height: 699px;
  position: relative;
  @media screen and (max-width: $large-screen) {
    height: 600px;
  }
  @media screen and (max-width: $medium-screen) {
    height: 450px;
  }

  .home-bg {
    bottom: 0;
    position: absolute;
    width: 100%;
    @media screen and (max-width: $medium-screen) {
      height: 300px;
    }
  }

  .home-logo {
    position: absolute;
    width: 35rem;
    right: 8rem;
    top: 13rem;

    @media screen and (max-width: $small-screen) {
      right: 2rem;
      top: 10rem;
    }
  }

  .home-info {
    position: absolute;
    bottom: 7rem;
    padding: $base-pad;
    @media screen and (max-width: $small-screen) {
      bottom: 6rem;
      padding: $small-pad;
    }

    .home-title {
      font-size: 2.3rem;
      color: white;
      @media screen and (max-width: $medium-screen) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: $large-screen) {
        font-size: 1.5rem;
      }
    }
    p {
      color: white;
      margin: 1rem 0;
      font-size: 1.5rem;
    }
  }

  .home-form {
    position: absolute;
    bottom: 4px;
    right: 0;

    @media screen and (max-width: $small-screen) {
      position: relative;
      top: 50rem;
    }
  }

  .cta-call {
    position: fixed;
    bottom: 0;
    width: 100%;
    @include flex;
    padding: 0 2rem 2rem;
    padding-top: 10rem;
    z-index: 9;

    div {
      background-color: rgb(33, 126, 231);
      border-radius: 50%;
      display: none;
      padding: 0.8rem 1rem 0.7rem;
      @media screen and (max-width: $small-screen) {
        display: block;
      }
      svg {
        font-size: 4rem;
        color: white;
      }
    }
  }
}
