@import "./variables.scss";

.services-section {
  width: 100%;
  position: relative;
  padding-top: 5rem;

  .services-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .services-info {
    padding: $base-pad;
    padding-top: 5rem;
    @include flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;

    .services-title {
      font-size: 3.5rem;
      font-weight: 700;
      margin-right: 2rem;
      width: 30%;
    }

    .service-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 8rem;
      margin: 0 auto;

      .service-card {
        svg {
          font-size: 4rem;
        }

        h4 {
          font-size: 2rem;
        }
      }
    }
  }

  .izohlar {
    width: 60%;
    padding: 2rem;
    margin: 3rem auto 2rem;
    background-color: #27283e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .izohlar-slider {
      width: 45%;

      .stars {
        svg {
          font-size: 2rem;
          color: gold;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .slider-content {
        color: white;

        .commenter {
          @include flex;
          justify-content: flex-start;
          gap: 0.5rem;

          svg {
            font-size: 2.5rem;
          }
        }
        p {
          margin: 1rem 0;
          overflow: auto;
          max-height: 100px;
          word-break: break-all;
        }

        h4 {
          font-weight: 400;
        }
      }
    }
    .izohlar-form {
      width: 55%;
      margin-left: 10px;
    }
  }
}
